@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body {
  margin: 0;
	font-family: 'Work Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(193, 199, 193);
  color: rgb(54, 10, 10)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
