* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(90deg, #193c53, #385a53, #9c6871);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
